<!DOCTYPE html>
{% extends 'proapp/base.html' %}
{% load static %}
{% block body_block%}

<div class="jumbotron">
    <h1>Please Login Here !</h1>
    <form action="{% url 'proapp:user_login'%}" method="POST">
        {% csrf_token %}
        <label for="username" >Username :</label>
        <input type="text" class="form-control" placeholder="username" name="username">

        <label for="password">password :</label>
        <input type="password" class="form-control" placeholder="password" name="password">

        <input type="submit" value="login">
    </form>
</div>

{% endblock %}