<!DOCTYPE html>
{% extends 'proapp/base.html' %}
{% load static %}
{% block body_block%}

<div class="jumbotron">
    {% if registered %}
    <h1>Thank you for registration !</h1>
    {% else %}
    <h1>register here for free</h1>
    <h3>fill out the above form</h3>

    <form class="form-group" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        {{user_form.as_p}}
        {{profile_form.as_p}}
        <input type="submit" value="register">


    </form>
    {% endif %}

</div>

{% endblock%}